[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flwr = "1.0.0"
torch = "*"
torchvision = "*"
tqdm = "*"
matplotlib = "*"
ray = "1.13.0"
wandb = "0.13.1"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8.0"
